.borda
{
    max-width: 90%;
    margin: auto;
    border-top-style: solid;
    border-width: thin;
}

.texto
{
    max-width: 90%;
    margin: auto;
}

.hidebtn
{
    display: none;
    border: none;
    color: inherit;
}

.btntitulo:hover .hidebtn, hidebtn:hover
{
    display: block;
    color: inherit;
}

main
{
    min-height: 81vh;
}