{% extends "layout.html" %}

{% block title %}
    Novo
{% endblock %}

{% block conteudo %}
<h1>Novo texto</h1>
<div class="borda">
     <div class="my-3 text-start">
        <form action="/novo" method="post">
            <div class="mb-3">
                <label for="titulo" class="form-label fw-bold">Título</label>
                <input type="text" autocomplete="off" class="form-control" name="titulo" id="titulo" placeholder="Insira o título.">
              </div>
              <div class="mb-3">
                <label for="texto" class="form-label fw-bold">Texto</label>
                <textarea type="text" autocomplete="off" class="form-control" name="texto" id="texto" rows="4" placeholder="Digite o texto."></textarea>
              </div>
              <div class="mb-3">
                <span class="text-danger">{{ erro }}</span>
              </div>
              <button class="btn btn-outline-dark">Enviar</button>
        </form>
     </div>
</div>
{% endblock %}