{% extends "layout.html" %}

{% block title %}
    {{ perfil }}
{% endblock %}

{% block conteudo %}
    {% if session["nome"] == perfil %}
   <h1>Minhas publicações</h1>
   {% else %}
   <h1>Publicações de {{ perfil }}</h1>
   {% endif %}
   <div class="borda pt-3">
       {% if session["nome"] == perfil %}
       <div class="mb-3 text-start">
            <a type="button" href="/novo" class="btn btn-outline-dark">Novo</a>
       </div>
       {% endif %}
       {% for texto in textos %}
        <div class="mb-3 text-start">
            <a href="/post?q={{ texto["id"] }}" class="text-decoration-none text-reset">
                <h2>{{ texto["titulo"] }}</h2>
                <span class="fw-bold fs-5">{{ texto["data"] }}</span>
            </a>
        </div>
        {% endfor %}
{% endblock %}